@{
    ViewData["Title"] = "Welcome Page";
}

<div class="text-center">
    <h1 class="display-4">Timesheet</h1>
</div>
<hr>

<div ng-controller="appCtrl" ng-init="init()">
    <div class="row">
        <div class="col-sm-12">
            <form name="form" ng-submit="form.$valid && submit()">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group row">
                            <label for="id" class="col-sm-4 col-form-label">Id</label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" id="id"
                                       ng-readonly="true"
                                       ng-model="timesheet.id"
                                       ng-required="true">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group row">
                            <label for="username" class="col-sm-4 col-form-label">Username</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="username"
                                       ng-model="timesheet.username"
                                       ng-required="true"
                                       ng-maxlength="255">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group row">
                            <label for="description" class="col-sm-4 col-form-label">Description</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="description"
                                       ng-model="timesheet.description"
                                       ng-required="true"
                                       ng-maxlength="255">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group row">
                            <label for="projectId" class="col-sm-4 col-form-label">Project Id</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="projectId"
                                       ng-model="timesheet.projectId"
                                       ng-required="true"
                                       ng-maxlength="255">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group row">
                            <label for="hours" class="col-sm-4 col-form-label">Hours</label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" id="hours" step="0.5" min="0.5" max="24"
                                       ng-model="timesheet.hours"
                                       ng-required="true">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label"></label>
                            <div class="col-sm-6">
                                <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Submit</button>
                                <button type="button" class="btn btn-warning" ng-click="clear()">Clear</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Action</th>
                    <th>Project Id</th>
                    <th>Username</th>
                    <th>Description</th>
                    <th>Hours</th>
                    <th>Created Date</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(key, value) in timesheets">
                    <td>{{ value.id }}</td>
                    <td>
                        <button class="btn btn-info btn-sm" ng-click="setForm(value)">Edit</button>
                        <button class="btn btn-danger btn-sm"
                                ng-click="delete(value.id)">
                            Delete
                        </button>
                    </td>
                    <td>{{ value.projectId }}</td>
                    <td>{{ value.username }}</td>
                    <td>{{ value.description }}</td>
                    <td>{{ value.hours }}</td>
                    <td>{{ value.createdDate }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>